$font-family-sans-serif: "Inter", sans-serif;

// $utilities: map-merge(
//   $utilities,
//   (
//     "viewport-height":
//       map-merge(
//         map-get($utilities, "viewport-height"),
//         (
//           values:
//             map-merge(
//               map-get(map-get($utilities, "viewport-height"), "values"),
//               (
//                 75: 75vh,
//               )
//             ),
//         )
//       ),
//   )
// );

$primary: #5724e9;
$secondary: #505050;
$dark-color: #4a49a8;
$light-color: #7596e3;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
);

$theme-colors: map-merge(
  $theme-colors,
  (
    "light-color": $light-color,
    "dark-color": $dark-color,
  )
);

$btn-close-width: 1.5em;

.vh-75 {
  height: 75vh;
}

/* create new custom classes from existing classes */
// .row-dark {
//   @extend .row;
//   background-color: $dark;
//   color: $light;
// }
