/* Required imports - Configuration */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

/* Import the necessary Layouts and Components */
// @import "~bootstrap/scss/root";
// @import "~bootstrap/scss/reboot";
// @import "~bootstrap/scss/type";
// @import "~bootstrap/scss/images";
// @import "~bootstrap/scss/containers";
// @import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/transitions";
// @import "~bootstrap/scss/nav";
// @import "~bootstrap/scss/navbar";
// @import "~bootstrap/scss/card";
// @import "~bootstrap/scss/carousel";

//Helpert
// @import "~bootstrap/scss/helpers";

@import "_variables.scss";

//Utilities
@import "~bootstrap/scss/utilities/api";

/*Import all of Bootstrap's CSS*/
@import "~bootstrap/scss/bootstrap";
